<head>
  <meta charset="UTF-8">
  {% if page.title == "Home" %}
    <meta name="description" content="{{ site.description }}">
  {% endif %}
  <meta name="keywords" content="Kaustav,Ghosh,Coding,Linux,Kernel,Blog,Tech,Computer,Science,GStreamer,Android,AOSP,Resume,Technology,Web,Internet,Programming">
  <meta name="author" content="Kaustav Ghosh">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,700|Roboto:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ "/assets/favicon.ico" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/apple-touch-icon.png" | relative_url }}">

  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>

  <!-- RSS -->
  {% feed_meta %}
  
  {% include analytics.html %}
</head>
